<p>products-list works!</p>
<div class="product-item">
    <div class="flex-item">

        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    <div class="flex-item">
        
        <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <div class="product-price">{{ product.price | currency }}</div>
      <button (click)="addToCart(product)">Add to cart</button>
    </div>
    </div>
    
  </div>
  
