<p>nav-bar works!</p>
<mat-toolbar>
    <div class="logo">
        <span class="logo-text" style="font: italic small-caps bold 25px Georgia, serif ; height: 1.5rem;">Fashion Palace</span>
        <span class="logo-text" style="font: italic bold 17px/30px Georgia, serif ; color: #c40404;">Quality at its best</span>
    </div>
    <!-- <div class="form-container">
        <form id="search" class="search-form">
            <div class="find">
                <i class="fas fa-search"></i>
                <input matInput type="text" class="product_search" placeholder="Search Products">
                <button class="reset" type="button" aria-label="Reset">
                    <i class="fas fa-close"></i>
                </button>
                <button mat-button class="btn search-btn">Search</button>
            </div>
        </form>
    </div> -->
    <div class="search-container">
        <form action="" class="form-search" >
            <div class="search-bar">
                <button class="first-icon"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="Search Product">
                <button class="second-icon"><i class="fas fa-close"></i></button>
            </div>
            <span><button mat-button class="btn search-btn">Search</button></span>
        </form>
    </div>
    
    <div class="nav-links">
        <ul>
            <li><a [routerLink]="">Home</a></li>
            <li><a routerLink="/new-product"><i class="fab fa-microsoft"></i><button>Add</button> </a></li>
            <li  class="dropdown"><a [routerLink]=""><i class="fas fa-user"></i> Account</a></li>
            <li><a [routerLink]=""><i class="fas fa-shopping-cart"></i>Cart</a></li>
        </ul>
    </div>
</mat-toolbar>