@import '../shared/styles/global-button';

mat-toolbar{
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding-inline: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #010136;
    color: #15d7f5;
    font-size: 1rem;
    font-weight: 100;
    z-index: 1;
}
.logo{
    // color: #660000;
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    font-style: oblique;
    display: flex;
    flex-direction: column;
}
.logo-text{
    margin: 0 !important;
    padding:  0 !important;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
a {
    text-decoration: none;
    padding: 8px 14px;
    cursor: pointer;
  }
  ::placeholder{
    color: #010136;
  }
//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #010136;
   
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     z-index: 1;
//   }
  
//   .dropdown-content a {
//     float: none;
//     color: #15d7f5;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//     text-align: left;
//   }
  
//   .dropdown-content a:hover {
//     background-color: #ddd;
//   }
  
//   .dropdown:hover .dropdown-content {
//     display: block;
//   }
  
// .form-container{

// }
.search-container{
    padding: 5%;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 18px;
}
.form-search{
    display: flex;
}
.form-search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    // padding: 24px 20px;
}
.search-form {
    display: flex;
    align-items: center;
}
.search-btn{
    margin-left: 10px;
    // border-radius: 60px;
    padding-inline: 18px;
}
.first-icon, .second-icon{
    outline: none;
    color: #010136;
    border: 0;
}

  
//   .product_search {
//     position: relative;
//     border: none;
//     padding: 8px 35px 8px 10px;
//     line-height: 1.5;
//     font-size: 16px; 
//     width:500px;
//     border-radius: 20px;
//   }
  
//   .product_search::before {
//     content: "\f002";
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     position: absolute;
//     top: 50%;
//     left: 10px;
//     transform: translateY(-50%);
//   }
  
//   .product_search::after {
//     content: "\f00d";
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     position: absolute;
//     top: 50%;
//     right: 10px;
//     transform: translateY(-50%);
//     display: none;
//   }
  
//   .product_search:focus {
//     outline: none;
//   }
  
//   .product_search:focus::before {
//     color: #ccc;
//   }
  
//   .search-btn {
//     height: 38px;
//     margin-left: 10px;
//     border: none;
//     border-radius: 20px;
//   }
//   .fas.fa-search, .fas.fa-close{
//     position: absolute;
//   }
  